---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Publications from '../components/Publications.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
    <Publications />
    <Contact />
  </main>
  <Footer />
</Base>
